{{ define "title" }} Grendel - {{ .Host.Name }} {{ end }}
{{ define "body" }}
{{ $tdClasses := "border border-neutral-400 px-2 py-1" }}
{{ $Host := .Host}}
<div class="flex justify-center mb-2">
    <h1 class="text-3xl text-center mb-3 shadow-lg rounded-xl p-2 w-60 border border-neutral-200">{{ .Host.Name }}</h1>
</div>
<form hx-post="/host" hx-ext="json-enc" hx-target="#update-message">
    <input type="hidden" name="ID" value="{{ .Host.ID }}" />
    <input type="hidden" name="name" value="{{ .Host.Name }}" />
    <div class="grid grid-cols-1 gap-2">

        <div>
            <label for="Provision">Provision:</label>
            <input type="checkbox" name="Provision" {{ if .Host.Provision  }}checked{{ end }} />
        </div>
        
    <div>
        <label for="BootImage">Boot Image:</label>
        <select class="border border-neutral-400 p-1 rounded-lg" name="BootImage">
            <option value="">None</option>
            {{ range .BootImages }}
            <option {{ if eq .Name $Host.BootImage }}selected{{ end }} value="{{ .Name }}">{{ .Name }}</option>
            {{ end }}
        </select>
    </div>
    
    <div>
        <label for="Firmware">Firmware:</label>
        <select class="border border-neutral-400 p-1 rounded-lg" name="Firmware">
            <option value="">None</option>
            {{ $fw :=  Sprintf "%s" $Host.Firmware }}
            {{ range .Firmware }}
            <option {{ if eq . $fw }}selected{{ end }} value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    
    <div>
        <label for="Tags">Tags:</label>
        <input name="Tags" value='{{ Join .Host.Tags "," }}' class="border border-neutral-400 rounded-lg p-1" />
    </div>

    <label for="Interfaces">Interfaces:</label>
    <textarea name="Interfaces" rows="13" class="w-full rounded-lg border border-neutral-400 p-2">{{ Stringify .Host.Interfaces }}</textarea>


    <div>
        <button type="submit" class="border border-neutral-400 rounded-lg p-1">Submit</button>
    </div>
    
</div>
</form>
<div id="update-message"></div>
<br />

{{ end }}