{{ define "title" }}Grendel - {{ .Rack }}{{ end }}
{{ define "body" }}
{{ $tdClasses := "border border-neutral-400 px-2 py-1" }}

{{ $Hosts := .Hosts }}
{{ $Rack := .Rack }}
{{ $u := .u }}
<div class="flex justify-center">
    <table class="w-full md:w-1/2">
        <thead>
            <th class="{{ $tdClasses }} w-14">u</th>
            <th class="{{ $tdClasses }}">{{ .Rack }}</th>
        </thead>
        <tbody>
            {{ range $u := .u }}
            {{ $hostName := "" }}
                {{ range $host := $Hosts }}
                    {{ $s := Split $host.Name "-" }}
                    {{ $hostU := index $s 2 }}
                    {{ if eq $hostU $u}}
                        {{ $hostName = $host.Name}}
                    {{ end }}
                {{ end }}
            <tr>
                <td class="{{ $tdClasses }}">{{ $u }}</td>
                <td class="{{ $tdClasses }} hover:bg-neutral-50">
                    <a href="/host/{{ $hostName }}" class="hover:font-medium">{{ $hostName }}</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}