#!ipxe
{{ if .bootimage.Verify }}
imgtrust --permanent
{{ end -}}
kernel --name kernel {{ .baseuri }}/boot/{{.token}}/file/kernel
{{ if .bootimage.Verify }}
imgverify kernel {{ .baseuri }}/boot/{{.token}}/file/kernel.sig
{{ end -}}
{{- range $i, $initrd := .bootimage.InitrdPaths }}
initrd --name initrd{{$i}} {{ $.baseuri }}/boot/{{$.token}}/file/initrd-{{$i}}
{{ if $.bootimage.Verify }}
imgverify initrd{{$i}} {{ $.baseuri }}/boot/{{$.token}}/file/initrd-{{$i}}.sig
{{ end -}}
{{ end -}}
boot kernel initrd=initrd0 {{ .commandLine }}
