#!ipxe
{{ if $.bootimage.Verify }}
imgtrust --permanent
{{ end -}}
kernel --name kernel {{ $.endpoints.KernelURL }}
{{ if .bootimage.Verify }}
imgverify kernel {{ $.endpoints.KernelURL }}.sig
{{ end -}}
{{- range $i, $initrd := $.bootimage.InitrdPaths }}
initrd --name initrd{{$i}} {{ $.endpoints.InitrdURL $i }}
{{ if $.bootimage.Verify }}
imgverify initrd{{$i}} {{ $.endpoints.InitrdURL $i }}.sig
{{ end -}}
{{ end -}}
boot kernel initrd=initrd0 {{ $.commandLine }}
