install
liveimg --url="{{ $.endpoints.LiveImageURL }}"

lang en_US.UTF-8
selinux --disabled
keyboard us
timezone --utc America/New_York
skipx

network --bootproto dhcp --hostname {{ $.nic.HostName }} --device={{ $.nic.MAC }}
firewall --disabled


bootloader --timeout=10
%include /tmp/diskpart.cfg
text

{{ with $.rootpw }}
rootpw --iscrypted {{ . }}
{{ end }}

reboot

%pre
DIR="/sys/block"
MINSIZE=60
DNUM=0
ROOTDRIVE=""

for DEV in sda sdb sdc sdd hda hdb; do
  if [ -d $DIR/$DEV ]; then
    DNUM=$((DNUM+1))
    SIZE=`cat $DIR/$DEV/size`
    GB=$(($SIZE/2**21))
    if [ $GB -gt $MINSIZE ]; then
      if [ -z $ROOTDRIVE ]; then
        ROOTDRIVE=$DEV
      fi
    fi
  fi
done

cat <<EOF > /tmp/diskpart.cfg
zerombr
clearpart --all --initlabel {{if not ($.host.HasTags "legacy")}}--disklabel=gpt{{end}}

part swap --ondisk=$ROOTDRIVE --asprimary --size=8192
part /boot --ondisk=$ROOTDRIVE --asprimary --fstype="xfs" --size=1024
{{ if not ($.host.HasTags "legacy") -}}
part /boot/efi --ondisk=$ROOTDRIVE --fstype=efi --size=256
{{ end -}}
part / --ondisk=$ROOTDRIVE --asprimary --fstype="xfs" --size=51200
part /scratch --ondisk=$ROOTDRIVE --asprimary --fstype="xfs" --size=2048 --grow
EOF
%end


%post

curl -X POST {{ $.endpoints.CompleteURL }}

exit 0

%end
