install
liveimg --url="{{ .baseuri }}/_/file/liveimg?token={{.token}}"

lang en_US.UTF-8
selinux --disabled
keyboard us
timezone --utc America/New_York
skipx

network --bootproto dhcp --hostname {{ .nic.FQDN }} --device={{ .nic.MAC }}

zerombr
clearpart --all --initlabel --disklabel=gpt

part swap --ondisk=sda --asprimary --size=8192
part /boot --ondisk=sda --asprimary --fstype="xfs" --size=1024
part /boot/efi --ondisk=sda --fstype=efi --size=200
part / --ondisk=sda --asprimary --fstype="xfs" --size=51200
part /scratch --ondisk=sda --asprimary --fstype="xfs" --size=2048 --grow


bootloader --timeout=10
text

{{ with .rootpw }}
rootpw --iscrypted {{ . }}
{{ end }}

reboot

%post

exit 0

%end
