[grendel]
map: grendelctl node show --tags $GROUP | jq '.[] | select(.name | contains("cpn")) | .name' -r
all: grendelctl node show | jq '.[] | select(.name | contains("cpn")) | .name' -r | grep cpn
list: grendelctl node show | jq '.[] | select(.name | contains("cpn")) | .tags.[] | select(. | contains(":") | not)' -r
reverse: grendelctl node show $NODE | jq '.[].tags.[] | select(. | contains(":") | not)' -r
