[Unit]
Description=grendel server
After=syslog.target network.target

[Service]
Type=simple
User=grendel
Group=grendel
WorkingDirectory=/var/lib/grendel
ExecStart=/usr/bin/grendel serve --verbose -c /etc/grendel/grendel.toml
Restart=on-abort
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
StateDirectory=grendel
ConfigurationDirectory=grendel

[Install]
WantedBy=multi-user.target
